In [1]:
#Classifier takes integers and regressor takes floats
import pandas as pd
#import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVC
from sklearn.svm import SVR
from sklearn.model_selection import train_test_split
from sklearn.neural_network import MLPClassifier
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB

In [2]:
path = "resources/telecom_users.csv"
df = pd.read_csv(path)
df

,Unnamed: 0,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,1869,7010-BRBUU,Male,0,Yes,Yes,72,Yes,Yes,No,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Credit card (automatic),24.10,1734.65,No
1,4528,9688-YGXVR,Female,0,No,No,44,Yes,No,Fiber optic,...,Yes,No,Yes,No,Month-to-month,Yes,Credit card (automatic),88.15,3973.2,No
2,6344,9286-DOJGF,Female,1,Yes,No,38,Yes,Yes,Fiber optic,...,No,No,No,No,Month-to-month,Yes,Bank transfer (automatic),74.95,2869.85,Yes
3,6739,6994-KERXL,Male,0,No,No,4,Yes,No,DSL,...,No,No,No,Yes,Month-to-month,Yes,Electronic check,55.90,238.5,No
4,432,2181-UAESM,Male,0,No,No,2,Yes,No,DSL,...,Yes,No,No,No,Month-to-month,No,Electronic check,53.45,119.5,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5981,3772,0684-AOSIH,Male,0,Yes,No,1,Yes,No,Fiber optic,...,No,No,Yes,Yes,Month-to-month,Yes,Electronic check,95.00,95,Yes
5982,5191,5982-PSMKW,Female,0,Yes,Yes,23,Yes,Yes,DSL,...,Yes,Yes,Yes,Yes,Two year,Yes,Credit card (automatic),91.10,2198.3,No
5983,5226,8044-BGWPI,Male,0,Yes,Yes,12,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,Month-to-month,Yes,Electronic check,21.15,306.05,No
5984,5390,7450-NWRTR,Male,1,No,No,12,Yes,Yes,Fiber optic,...,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,99.45,1200.15,Yes
5985,860,4795-UXVCJ,Male,0,No,No,26,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,One year,No,Credit card (automatic),19.80,457.3,No

In [3]:
#Turn unrecognized spaces into NaNs
df['TotalCharges'].replace(' ', np.nan, inplace=True)
df['MonthlyCharges'].replace(' ', np.nan, inplace=True)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5986 entries, 0 to 5985
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        5986 non-null   int64
 1   customerID        5986 non-null   object
 2   gender            5986 non-null   object
 3   SeniorCitizen     5986 non-null   int64
 4   Partner           5986 non-null   object
 5   Dependents        5986 non-null   object
 6   tenure            5986 non-null   int64
 7   PhoneService      5986 non-null   object
 8   MultipleLines     5986 non-null   object
 9   InternetService   5986 non-null   object
 10  OnlineSecurity    5986 non-null   object
 11  OnlineBackup      5986 non-null   object
 12  DeviceProtection  5986 non-null   object
 13  TechSupport       5986 non-null   object
 14  StreamingTV       5986 non-null   object
 15  StreamingMovies   5986 non-null   object
 16  Contract          5986 non-null   object
 17  PaperlessBilling  5986 non-null   object
 18  PaymentMethod     5986 non-null   object
 19  MonthlyCharges    5986 non-null   float64
 20  TotalCharges      5976 non-null   object
 21  Churn             5986 non-null   object
dtypes: float64(1), int64(3), object(18)
memory usage: 1.0+ MB

In [5]:
#Find Strings
df[pd.to_numeric(df.TotalCharges, errors='coerce').isnull()]
#Find Numbers
df[pd.to_numeric(df.TotalCharges, errors='coerce').notnull()]

,Unnamed: 0,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,1869,7010-BRBUU,Male,0,Yes,Yes,72,Yes,Yes,No,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Credit card (automatic),24.10,1734.65,No
1,4528,9688-YGXVR,Female,0,No,No,44,Yes,No,Fiber optic,...,Yes,No,Yes,No,Month-to-month,Yes,Credit card (automatic),88.15,3973.2,No
2,6344,9286-DOJGF,Female,1,Yes,No,38,Yes,Yes,Fiber optic,...,No,No,No,No,Month-to-month,Yes,Bank transfer (automatic),74.95,2869.85,Yes
3,6739,6994-KERXL,Male,0,No,No,4,Yes,No,DSL,...,No,No,No,Yes,Month-to-month,Yes,Electronic check,55.90,238.5,No
4,432,2181-UAESM,Male,0,No,No,2,Yes,No,DSL,...,Yes,No,No,No,Month-to-month,No,Electronic check,53.45,119.5,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5981,3772,0684-AOSIH,Male,0,Yes,No,1,Yes,No,Fiber optic,...,No,No,Yes,Yes,Month-to-month,Yes,Electronic check,95.00,95,Yes
5982,5191,5982-PSMKW,Female,0,Yes,Yes,23,Yes,Yes,DSL,...,Yes,Yes,Yes,Yes,Two year,Yes,Credit card (automatic),91.10,2198.3,No
5983,5226,8044-BGWPI,Male,0,Yes,Yes,12,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,Month-to-month,Yes,Electronic check,21.15,306.05,No
5984,5390,7450-NWRTR,Male,1,No,No,12,Yes,Yes,Fiber optic,...,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,99.45,1200.15,Yes
5985,860,4795-UXVCJ,Male,0,No,No,26,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,One year,No,Credit card (automatic),19.80,457.3,No

In [6]:
#Drop NaNs
df.dropna(subset=['TotalCharges'], inplace=True)
df

,Unnamed: 0,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,1869,7010-BRBUU,Male,0,Yes,Yes,72,Yes,Yes,No,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Credit card (automatic),24.10,1734.65,No
1,4528,9688-YGXVR,Female,0,No,No,44,Yes,No,Fiber optic,...,Yes,No,Yes,No,Month-to-month,Yes,Credit card (automatic),88.15,3973.2,No
2,6344,9286-DOJGF,Female,1,Yes,No,38,Yes,Yes,Fiber optic,...,No,No,No,No,Month-to-month,Yes,Bank transfer (automatic),74.95,2869.85,Yes
3,6739,6994-KERXL,Male,0,No,No,4,Yes,No,DSL,...,No,No,No,Yes,Month-to-month,Yes,Electronic check,55.90,238.5,No
4,432,2181-UAESM,Male,0,No,No,2,Yes,No,DSL,...,Yes,No,No,No,Month-to-month,No,Electronic check,53.45,119.5,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5981,3772,0684-AOSIH,Male,0,Yes,No,1,Yes,No,Fiber optic,...,No,No,Yes,Yes,Month-to-month,Yes,Electronic check,95.00,95,Yes
5982,5191,5982-PSMKW,Female,0,Yes,Yes,23,Yes,Yes,DSL,...,Yes,Yes,Yes,Yes,Two year,Yes,Credit card (automatic),91.10,2198.3,No
5983,5226,8044-BGWPI,Male,0,Yes,Yes,12,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,Month-to-month,Yes,Electronic check,21.15,306.05,No
5984,5390,7450-NWRTR,Male,1,No,No,12,Yes,Yes,Fiber optic,...,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,99.45,1200.15,Yes
5985,860,4795-UXVCJ,Male,0,No,No,26,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,One year,No,Credit card (automatic),19.80,457.3,No

In [7]:
#NaNs are gone
df[pd.to_numeric(df.TotalCharges, errors='coerce').isnull()]

Empty DataFrame
Columns: [Unnamed: 0, customerID, gender, SeniorCitizen, Partner, Dependents, tenure, PhoneService, MultipleLines, InternetService, OnlineSecurity, OnlineBackup, DeviceProtection, TechSupport, StreamingTV, StreamingMovies, Contract, PaperlessBilling, PaymentMethod, MonthlyCharges, TotalCharges, Churn]
Index: []

[0 rows x 22 columns]

In [8]:
df["TotalCharges"] = df["TotalCharges"].astype(float)
df.to_csv("resources/telecom_cleaned.csv", index=False)

In [9]:
print(df["TotalCharges"].max())
print(df["TotalCharges"].min())

print(df["MonthlyCharges"].max())
print(df["MonthlyCharges"].min())

8684.8
18.8
118.75
18.25

# RANDOM FOREST REGRESSION

In [10]:
#inverse_transform(y) <-- How to turn labels back
label = LabelEncoder()

infos = ["gender", "SeniorCitizen", "Partner", "Dependents", "tenure", "PhoneService", 
        "MultipleLines", "InternetService", "OnlineSecurity", "OnlineBackup", "DeviceProtection",
        "TechSupport", "StreamingTV", "StreamingMovies", "Contract", "PaperlessBilling", "PaymentMethod", 
         "TotalCharges"]


for info in infos:
    df[f"{info}"] = label.fit_transform(df[f"{info}"])
    df["gender"].value_counts()

In [11]:
data = df[["gender", "SeniorCitizen", "Partner", "Dependents", "PhoneService", 
           "MultipleLines", "InternetService", "OnlineSecurity", "OnlineBackup", "DeviceProtection",
          "TechSupport", "StreamingTV", "StreamingMovies", "Contract", "PaperlessBilling", "PaymentMethod",
          "TotalCharges"]]
data

,gender,SeniorCitizen,Partner,Dependents,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,TotalCharges
0,1,0,1,1,1,2,2,1,1,1,1,1,1,2,0,1,2979
1,0,0,0,0,1,0,1,0,2,2,0,2,0,0,1,1,4181
2,0,1,1,0,1,2,1,0,0,0,0,0,0,0,1,0,3674
3,1,0,0,0,1,0,0,0,0,0,0,0,2,0,1,2,858
4,1,0,0,0,1,0,0,2,0,2,0,0,0,0,0,2,513
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5981,1,0,1,0,1,0,1,2,0,0,0,2,2,0,1,2,433
5982,0,0,1,1,1,2,0,2,2,2,2,2,2,2,1,1,3312
5983,1,0,1,1,1,0,2,1,1,1,1,1,1,0,1,2,1020
5984,1,1,0,0,1,2,1,0,0,2,0,2,2,0,1,2,2392
5985,1,0,0,0,1,0,2,1,1,1,1,1,1,1,0,1,1323

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5976 entries, 0 to 5985
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            5976 non-null   int32
 1   SeniorCitizen     5976 non-null   int64
 2   Partner           5976 non-null   int32
 3   Dependents        5976 non-null   int32
 4   PhoneService      5976 non-null   int32
 5   MultipleLines     5976 non-null   int32
 6   InternetService   5976 non-null   int32
 7   OnlineSecurity    5976 non-null   int32
 8   OnlineBackup      5976 non-null   int32
 9   DeviceProtection  5976 non-null   int32
 10  TechSupport       5976 non-null   int32
 11  StreamingTV       5976 non-null   int32
 12  StreamingMovies   5976 non-null   int32
 13  Contract          5976 non-null   int32
 14  PaperlessBilling  5976 non-null   int32
 15  PaymentMethod     5976 non-null   int32
 16  TotalCharges      5976 non-null   int64
dtypes: int32(15), int64(2)
memory usage: 490.2 KB

In [13]:
X = data
y = df["MonthlyCharges"]

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.5, random_state=42)

In [15]:
y_train

4495     74.65
3939     90.55
5053    109.10
987      50.15
3902    101.15
         ...
3777     95.40
5197    100.05
5232     67.85
5398     85.15
862      90.95
Name: MonthlyCharges, Length: 2988, dtype: float64

In [16]:
sc =  StandardScaler()
X_scaler = sc.fit(X_train)
X_train = X_scaler.transform(X_train)
X_test = X_scaler.transform(X_test)

X_train

array([[ 0.98934723, -0.4472136 , -0.96125857, ...,  0.83645604,
         0.39141066, -0.90718072],
       [ 0.98934723, -0.4472136 ,  1.04030282, ..., -1.19552009,
        -1.49189861,  1.47490122],
       [-1.01076747, -0.4472136 ,  1.04030282, ...,  0.83645604,
        -0.55024398,  1.4719079 ],
       ...,
       [ 0.98934723, -0.4472136 ,  1.04030282, ..., -1.19552009,
         1.3330653 ,  1.06481674],
       [ 0.98934723, -0.4472136 , -0.96125857, ...,  0.83645604,
         1.3330653 ,  1.02410763],
       [-1.01076747, -0.4472136 ,  1.04030282, ...,  0.83645604,
        -1.49189861,  1.48867048]])

In [17]:
rfc = RandomForestRegressor(n_estimators=200)
rfc.fit(X_train, y_train)
pred_rfc = rfc.predict(X_test)
print(pred_rfc)
print(y_test)

[69.79125 70.135   75.0835  ... 54.77975 70.002   20.54575]
5968    70.55
4339    70.40
2587    73.75
1757    20.85
4779    99.00
        ...
5155    56.15
5578    38.80
1700    54.15
5631    69.10
4699    19.95
Name: MonthlyCharges, Length: 2988, dtype: float64

In [18]:
print(f"Training Data Score: {rfc.score(X_train, y_train)}")
print(f"Testing Data Score: {rfc.score(X_test, y_test)}")

Training Data Score: 0.9995095956468889
Testing Data Score: 0.9966171599304624

# Linear Regression

In [19]:
line = LinearRegression()
line.fit(X_train, y_train)


pred_line = line.predict(X_train)
mse = mean_squared_error(y_train, pred_line)
r2 = r2_score(y_train, pred_line)

print(f"Mean Squared Error (MSE): {mse}")
print(f"R-squared (R2 ): {r2}")

Mean Squared Error (MSE): 252.6729541645774
R-squared (R2 ): 0.7232840256746071

In [20]:
line.score(X_test, y_test)

0.7269409799939446